/*
 * conf/local.config
 * Full run profile for the 10-20 genome subset.
 * Tuned for WSL with 6GB RAM / 4 CPUs.
 */

params {
    samplesheet = "${projectDir}/data/metadata/samplesheet.tsv"
}

process {
    cpus   = 1
    memory = '1.5 GB'
    time   = '4h'

    withName: 'BUILD_PANGENOME' {
        cpus   = 2
        memory = '4 GB'
        time   = '12h'
    }

    withName: 'BUILD_PHYLOGENY' {
        cpus   = 2
        memory = '2 GB'
        time   = '3h'
        ext.args = '-B 1000'
    }
}

executor {
    cpus      = 4
    memory    = '5 GB'
    queueSize = 3
}
